*
!.git/
!.git/*
!.github
!.github/*
!.github/workflows/*
!docs/
!Data/
!Data/*
!include/
!include/*
!src/
!src/*
!tests/
!tests/*
!/tests/resources/*
!utilities/
!utilities/*
!CMakeLists.txt
!Doxyfile
!UserQuestionnaire.txt
!Consentforms/*